input[type=text]:not(.browser-default):focus:not([readonly]){
border-bottom: 1px solid #ff2525;
-webkit-box-shadow: 0 1px 0 0 #ff2525;
box-shadow: 0 1px 0 0 #ff2525;
}

input[type=text]:not(.browser-default):focus:not([readonly])+label{
    color:#ff2525;
}
